<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <table class="table">
            <thead class="table__head">
                <tr class="table__row">
                    <th class="table__cell table__cell--head">Имя</th>
                    <th class="table__cell table__cell--head">Email</th>
                    <th class="table__cell table__cell--head">Роль</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="table__row">
                    <td class="table__cell">Петр Петров</td>
                    <td class="table__cell">petr@mail.com</td>
                    <td class="table__cell">Пользователь</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell">Анна Сидорова</td>
                    <td class="table__cell">anna@mail.com</td>
                    <td class="table__cell">Модератор</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>