<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <article class="profile">
            <img src="https://api.dicebear.com/7.x/avataaars/svg?seed=rcdve" alt="Аватар" 
            class="profile__avatar">
            <h2 class="profile__name">Иванов Иван</h2>
            <p class="profile__role">Frontend-разработчик</p>

            <div class="profile__actions">
                <button class="profile__button profile__button--primary">Написать</button>
                <button class="profile__button profile__button--secondary">Подписаться</button>
            </div>
        </article>
    </div>
</body>
</html>