<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a href="#" class="navbar__logo">Logo</a>
            <ul class="navbar__menu">
                <li class="navbar__item"><a href="#" class="navbar__link">Главная</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Каталог</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">О нас</a></li>
            </ul>
            <button class="navbar__button">Войти</button>
        </nav>
    </div>
</body>
</html>