<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <a href="#modal" class="modal__open">Открыть модалку</a>

        <div class="modal" id="modal">
            <a href="#" class="modal__overlay"></a>

            <div class="modal__window">
                <a href="#" class="modal__close">x</a>
                <h2 class="modal__title">Заголовок</h2>
                <p class="modal__text">Это модальное окно, оно открывается и закрывается без JS</p>
            </div>
        </div>
    </div>
</body>
</html>